*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #333;
    font-family: "Lato", sans-serif;
}
  
div#pre-load-img-container {
    display: none; 
}

.song__title-wave{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 30px;
    width: 100%;
    height: 100%;
}

.visual__data{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.timegate{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}

/* color change */
.amplitude-volume-slider{
  background: none;
}

.volume__Ranger-title{
  margin-right: 10px;
  color: rgb(163, 13, 201);
}


.top-container {
    position: relative;
}

    div.amplitude-visualization {
      width: 220px;
      height: 220px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
      background-color: rgb(26, 26, 26); 
    }

    img.now-playing-album-art {
      width: 200px;
      margin: auto;
      box-shadow: 0 5px 31px 0 rgba(0, 0, 0, 0.5);
      display: none; 
    }

    .shuffles{
        width: max-content;
        height: 100px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        background: rgba(61, 61, 61, 0.74);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    div.visualization-toggle {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

      div.visualization-toggle.visualization-on {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/visualization-on.svg") no-repeat center; }
      div.visualization-toggle.visualization-off {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/visualization-off.svg") no-repeat center; }

    div.amplitude-shuffle {
      width: 22px;
      height: 13px;
      cursor: pointer;
    }

      div.amplitude-shuffle.amplitude-shuffle-on {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-on.svg") no-repeat center; }
      div.amplitude-shuffle.amplitude-shuffle-off {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-off.svg") no-repeat center; }
    div.amplitude-repeat {
      width: 25px;
      height: 15px;
      cursor: pointer;
    }
      div.amplitude-repeat.amplitude-repeat-on {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-on.svg") no-repeat center; }
      div.amplitude-repeat.amplitude-repeat-off {
        background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-off.svg") no-repeat center; }
  
  /*
    Small only
  */
  /*
  
    Medium only
  */
  /*
    Large Only
  */
  div.control-container {
    margin-top: 30px;
    display: flex; 
    flex-flow: row;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(75, 75, 75, 0.301);
}
    div.control-container div.amplitude-prev {
      width: 18px;
      height: 24px;
      background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/prev.svg");
      background-size: cover;
      cursor: pointer;
        
    }

.amplitude-play-pause{
  
}

.amplitude-next {
    width: 18px;
    height: 24px;
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/next.svg");
    background-size: cover;
    cursor: pointer;
}

.amplitude-playing {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/pause.svg") 
  no-repeat center; 
}

.meta-data-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.now-playing__box{
    margin-left: 40px;
}

    div.meta-data-container span.now-playing-name {
      display: block;
      text-align: center;
      margin-bottom: 15px;
      font-size: 28px;
      font-weight: 700;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    div.meta-data-container span.now-playing-artist-album {
      display: block;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7); }
  
  /*
    Small only
  */
  /*
    Medium only
  */
  /*
    Large Only
  */
.amplitude-wave-form {
  width: 100%;
    display: flex;
    margin-bottom: 18px; 
    z-index: 50;
}
.amplitude-wave-form svg {
    height: 100px;
    width: 100%;
    stroke-width: 0.6px; 
    border: 1px solid rgba(78, 78, 78, 0.459);
    background: rgb(59, 59, 59);
    border-radius: 5px;
    margin-top: 50px;
  }
.amplitude-wave-form svg g {
   stroke: url(#gradient);
    height: 50px;
    width: 100%; 
  }
.amplitude-wave-form svg g path {
    stroke: url(#gradient);
    height: 50px;
    width: 100%;
}

  span.amplitude-current-time {
    display: block;
    text-align: left;
    color: white;
    font-size: 12px; }
  
  span.amplitude-time-remaining {
    display: block;
    text-align: right;
    color: white;
    font-size: 12px; 
  }
  

/*  */
  div#visualizations-player {
    width: 100%;
    height: 100%;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}
  
  div#visualizations-player-playlist {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 15px;
    padding-top: 25px;
    z-index: 9999;
    color: rgb(56, 56, 56);
    height: 100%;
    }

    div#visualizations-player-playlist div.top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 15px;
    }
      div#visualizations-player-playlist div.top span.playlist-title {
        color: rgb(56, 56, 56);
        font-size: 36px;
        font-weight: 700; }

      div#visualizations-player-playlist div.top div.amplitude-shuffle {
        width: 22px;
        height: 13px;
        cursor: pointer;
        float: right;
        margin-top: 22px; }
        div#visualizations-player-playlist div.top div.amplitude-shuffle.amplitude-shuffle-on {
          background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-on.svg") no-repeat center; }
        div#visualizations-player-playlist div.top div.amplitude-shuffle.amplitude-shuffle-off {
          background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-off.svg") no-repeat center; }
      div#visualizations-player-playlist div.top div.amplitude-repeat {
        width: 25px;
        height: 15px;
        cursor: pointer;
        float: right;
        margin-left: 25px;
        margin-top: 20px; }
        div#visualizations-player-playlist div.top div.amplitude-repeat.amplitude-repeat-on {
          background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-on.svg") no-repeat center; }
        div#visualizations-player-playlist div.top div.amplitude-repeat.amplitude-repeat-off {
          background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-off.svg") no-repeat center; }
    div#visualizations-player-playlist div.songs-container {
      /* height: 200px; */
      /* overflow-y: scroll; */
      background: white;
      border-radius: 10px;
    }
      div#visualizations-player-playlist div.songs-container div.song {
        margin-bottom: 10px;
        cursor: pointer;
        padding: 3px;
        border-radius: 3px;
        transition: 0.1s;
        }
        div#visualizations-player-playlist div.songs-container div.song.amplitude-active-song-container {
          background-color: rgba(20, 214, 101, 0.185); }
        div#visualizations-player-playlist div.songs-container div.song:hover {
          background-color: rgba(76, 242, 151, 0.151); }
        /* div#visualizations-player-playlist div.songs-container div.song span.song-position {
          color: white;
          font-size: 18px;
          float: left; } */
        div#visualizations-player-playlist div.songs-container div.song img.song-album-art {
          width: 44px;
          height: 44px;
          border-radius: 4px;
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
          float: left;
          margin-left: 12px;
          margin-right: 16px; }
        div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container {
          float: left;
          width: calc( 100% - 105px ); }
          div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container span.song-name {
            font-size: 18px;
            display: block;
            color: rgb(56, 56, 56);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container span.song-artist {
            font-size: 12px;
            display: block;
            color: rgb(56, 56, 56);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
      div#visualizations-player-playlist div.songs-container div.song:after {
        content: "";
        display: table;
        clear: both; }
  
  a.learn-more{
    display: block;
    color: rgb(56, 56, 56);
    text-align: center;
    width: 300px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #482D57;
  }

  